.close-button {
    font-size: 45px;
    position: absolute;
    border: unset;
    color: white;
    background-color: unset;
    z-index: 1000;
    right: -5px;
    top: -60px;
}

div.modal-body {
    min-height: 200px;
}