#field {
    background: url(../images/field.jpg) center no-repeat;
    width: 900px;
    height: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 5px 0;
    transform: translate(-50%, -50%);
}

.pleb_black {
    background: url(../images/piece/pleb/black_pleb.png) center no-repeat;
}

.pleb_white {
    background: url(../images/piece/pleb/white_pleb.png) center no-repeat;
}

.queen_black {
    background: url(../images/piece/queen/black_queen.png) center no-repeat;
}

.queen_white {
    background: url(../images/piece/queen/white_queen.png) center no-repeat;
}

.draggable, .droppable {
    transition: width 10s;
}

div.square {
    position: absolute;
    width: 90px;
    height: 90px;
}

.close-button {
    font-size: 45px;
    position: absolute;
    border: unset;
    color: white;
    background-color: unset;
    z-index: 1000;
    right: -5px;
    top: -60px;
}

div.modal-body {
    min-height: 200px;
}

img.white_player {
    position: absolute;
    width: 15%;
    bottom: 1%;
    left: 1%;
}

img.black_player {
    position: absolute;
    width: 15%;
    top: 1%;
    right: 1%;
}

input#photo-input, input#file-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

img.highlighted {
    border: 5px solid red;
    border-radius: 5px;
}

